/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';  
@import '@angular/material/prebuilt-themes/pink-bluegrey.css'; 
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  /* The image used */
  background: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}