<div class="container py-5 body">  
    <h3 class="text-center text-uppercase">List of events</h3>
    <table class="table table-bordered table-striped">  
        <thead>  
            <tr class="text-center text">  
                <th>Event Id</th>  
                <th>Event Name</th>  
                <th>Due Date</th>   
            </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let e of events">  
            <td>{{e.Id}}</td>  
            <td>{{e.EventName}}</td>  
            <td>{{e.DueDate}}</td>  
          </tr>  
        </tbody>  
      </table>  
    </div>    
