
<div class="container">  
  <br><br>
  <mat-card>
    <mat-card-content>
       <form [formGroup]="eventForm"(ngSubmit)="onFormSubmit(eventForm.value)">  
        <table>  
        <tr>  
          <td class="tbl1">  
            <mat-form-field class="demo-full-width">  
              <input  formControlName="EventName" matTooltip="Enter Event Name" matInput placeholder="Event Name">  
            </mat-form-field>  
            <mat-error>  
              <span *ngIf="!eventForm.get('EventName').value && eventForm.get('EventName').EventName"></span>  
            </mat-error>  
          </td>  
        
          <td class = "tbl1">	
            <mat-form-field class="demo-full-width">  
            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"  formControlName="DueDate" matInput placeholder="Choose Due Date">
            <owl-date-time #dt1></owl-date-time>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>   
          </mat-form-field>
            <mat-error>  
              <span *ngIf="!eventForm.get('DueDate').value && eventForm.get('DueDate').touched"></span>  
            </mat-error>
            </td>
        <tr>  
          <td></td>  
          <td  class="content-center">  
            <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!eventForm.valid">Submit</button>      
            <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
          </td>
        </tr>  
      </table>  
  <br><br>  
<table class="table" >  
    <tr ngclass="btn-primary">  
      <th class="tbl2"  >Event Name</th>  
      <th class="tbl2">Due Date</th> 
      <th class="tbl2">Edit</th>
       <th class="tbl2">Delete</th>
       <th class="tbl2">Countdown</th>
    </tr>  
    <tr *ngFor="let e of events">  
      <td class="tbl2">{{e.EventName}}</td>  
      <td class="tbl2">{{e.DueDate}}</td>  
      <td class="tbl2">  
        <button type="button" class="btn btn-info" matTooltip="Click Edit Button" (click)="loadEventToEdit(e.Id)">Edit</button>  
      </td>  
      <td class="tbl2">  
        <button type="button" class="btn btn-danger" matTooltip="Click Delete Button" (click)="deleteEvent(e.Id)">Delete</button>  
      </td>  
      <td class="tbl2">  
        <a [routerLink]="['/countdowntimer']" [state]="{ data: e}" class="btn btn-info" >Timer </a>
      </td>
    </tr>  

  </table>  
</form>  
</mat-card-content>  
</mat-card>  
</div>  
